<div class="row">
    <div class="col-md-6">
        <h2>Welcome to picnic planner</h2>
        <p>check out the perfect days to picnic outside</p>
        <form  #userForm="ngForm" (ngSubmit)="getAirports()">
            {{userForm.value | json }}
            <div class="form-group">
                <label for="city">Enter your city</label>
                <input type="text" class="form-control" id="city" name="query" [(ngModel)]="query" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<app-airports *ngIf="show" [data]="airports | async"></app-airports>
